@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');

body {
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
    font-family: sans-serif;
}

h1 {
    font-family: 'Goldman', cursive;
    font-size: 65px;
}

h2 {
    font-family: 'Goldman', cursive;
    font-size: 40px;
}

a {
    color: #71c937;
}

canvas {
    padding: 25px;
}

code {
    color: cyan;
    font-size: 22px;
}

footer {
    font-size: 12px;
}
